html,
body {
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}
